# Server Configuration
PORT=3000

# Database Configuration (Ganti dengan data Anda)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=affiliate_db
DB_PORT=5432

# JWT Secret Key
JWT_SECRET=your_super_secret_key_for_jwt

# Email Configuration (Contoh menggunakan GMail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=emailanda@gmail.com
EMAIL_PASS=password_aplikasi_anda # Bukan password utama, tapi App Password

# JWT Secret for Password Reset
JWT_RESET_SECRET=kunci_rahasia_lain_yang_sangat_kuat

# Client URL (URL Frontend Anda)
CLIENT_URL=http://localhost:3000 